# Basic Programming Constructs

As part of this module we will see basic programming constructs in Python.

* Getting Help
* Overview of Jupyter Notebook
* Variables and Objects
* Data Types - Commonly used
* Operators in Python
* Formatting Strings
* Conditionals
* All about for loops
* Running OS Commands

## Getting Help

We have already seen how to get help earlier.

* We can get help either in Python CLI or Jupyter Notebook.
* Help can be launched by calling help()
* It will launch CLI and we can enter a class name or function name.
* We can hit ctrl+c to come out of help
* We can also get help on a class or function by passing them to help function interactively.
* We will be able to get help by passing objects as well. In cases like str it will try to get the help on the value of variable.

### Tasks

Here are some of the tasks we can perform to understand help better.
* Launch help
* Get help for str
* Get help for str.lstrip function
* Exit from help
* Get help on str and str.lstrip directly
* Create an integer object i=0 and get help by passing the object.

## Overview of Jupyter Notebook

Let us understand how we can create Jupyter Notebook using Jupyter Lab.

* Relationship between Jupyter Notebook and iPython
* Naming Standards
* Managing Cells
* Cell Types
* Getting help using Jupyter Cells

### Tasks

Let's perform tasks to understand Jupyter Notebook environment better.

* Create Jupyter Notebook by name **Getting Started**
* Get help on `python_version` as part of the cell
* Create cell and write the code to get the version of Python.
```
from platform import python_version
print(python_version())
```

## Variables and Objects

In Python we need not define data types for variables or objects.
* Data types are inherited based up on the values assigned to the variables.
* We can check the type of the variable or object using `type` function.
* Python is interpreter based programming language which means it does not go through compilation and hence data types are not validated until run time.
* Python variables or objects are dynamically typed. In case of compiler based programming languages such as Java, Scala etc variables or objects are statically typed.
* We can specify data types for variables or objects starting from Python 3. However it is only informational and does not enforce.

In [1]:
i = 0

In [2]:
type(i)

int

In [3]:
type(i) == int

True

In [4]:
j: int = 10 # You can specify data type starting from Python 3
j = 'Hello'

In [5]:
print(j)

Hello

In [8]:
type(j)

str

In [9]:
type(j) == str

True

In [11]:
j: int = 'hello'

In [12]:
type(j)

str

In [13]:
%%sh
ls -ltr

total 3464
-rw-r--r--  1 monikamendiratta  staff    23135 May  7 17:29 03 All about Functions.ipynb
-rw-r--r--  1 monikamendiratta  staff    77475 May  7 17:29 04 Collections and Tuples.ipynb
-rw-r--r--  1 monikamendiratta  staff    24411 May  7 17:29 05 Processing Collections using Loops.ipynb
-rw-r--r--  1 monikamendiratta  staff     6303 May  7 17:29 06 Development of Map Reduce APIs.ipynb
-rw-r--r--  1 monikamendiratta  staff    21400 May  7 17:29 07 Data Processing using Pandas.ipynb
-rw-r--r--  1 monikamendiratta  staff     1099 May  7 17:29 08 Data Visualization.ipynb
-rw-r--r--  1 monikamendiratta  staff  1556838 May  7 17:29 09 Database Programming.ipynb
-rw-r--r--  1 monikamendiratta  staff    24587 May  7 17:34 01 Getting Started.ipynb
-rw-r--r--  1 monikamendiratta  staff    19755 May  7 18:19 02 Basic Programming Constructs.ipynb

In [14]:
j = 200.0
type(j)

float

## Data Types - Commonly used
Python has several data types which are commonly used. There are advanced data types such as Data Frames as part of modules such as pandas.
* Numeric - `int`, `float`, complex
* Alpha Numeric - `str`
* Collections
  * `list`
  * `set`
  * `dict`
* `tuple`
* type(VARIABLE_NAME) returns the data type of the variable.
* All the data types are nothing but classes.
* We can type cast data types by invoking constructor.

In [15]:
type(int('0'))

int

In [17]:
import datetime

## Operators in Python
As any programming language Python supports all types of Operations. There are several categories of operators. For now we will cover Arithmetic and Comparison Operators.
* Arithmetic Operators
  * Addition (+)
  * Subtraction (-)
  * Multiplication (*)
  * Division (/)
  * Mod (%) returns reminder
  * `+` is also used for concatenation of strings. 
* Comparison Operators - typically return boolean value (True or False)
  * Equals (==)
  * Not Equals (!=)
  * Negation (! before expression)
  * Greater Than (>)
  * Less Than (<)
  * Greater Than or Equals To (>=)
  * Less Than or Equals To (<=)

### Tasks or Exercises
Let us perform some tasks to understand more about Python Data Types.
* Create variables or objects of int, float.
* Create 2 variables i1 and i2 with values 10 and 20 respectively. Add the variables and assign the result to res_i. Check the type of res_i.

In [18]:
i1 = 10
i2 = 20

In [19]:
res_i = i1 + i2

In [20]:
print(res_i)

30

In [21]:
type(res_i)

int

* Create 2 variables f1 and f2 with values 10.5 and 15.6 respectively. Add the variables and assign the result to res_f. Check the type of f1, f2 and res_f.

In [22]:
f1 = 10.5
f2 = 15.6
res_f = f1 + f2

In [23]:
print(res_f)

26.1

In [24]:
type(f1)

float

In [ ]:
type(res_f)

* Create 2 variables v1 and v2 with values 4 and 10.0 respectively. Add the variables and assign the result to res_v. Check the type of v1, v2 and res_v.

In [26]:
v1 = 4
v2 = 10.0
res_v = v1 + v2

In [27]:
print(res_v)

14.0

In [28]:
type(res_v)

float

In [33]:
# question from the class
f1 = 10.1
f2 = '20.2'
res_f = f1 + float(f2) 
res_s = str(f1) + f2
#res_f = f1 + f2
# throws operand related to error as there is no overloaded function + 
# between float and string
print(res_f)
print(res_s)

30.299999999999997
10.120.2

* Create object or variable s of type string for value Hello World and print on the screen. Check the type of s.

In [34]:
s = "Hello 'World'"
print(s)

Hello 'World'

* Create 2 string objects s1 and s2 with values Hello and World respectively and concatenate with space between them.

In [38]:
s1 = 'Hello'
s2 = 'World'
print(s1 + ' ' + s2)
print(f'{s1} {s2}')

Hello World
Hello World

In [41]:
print(s1 + s2)

HelloWorld

In [37]:
print(f'{s1} {s2}')

NameError: name 's1' is not defined

In [35]:
s = '{s3} {s4}'
s3 = 'Hello'
s4 = 1
print(s.format(s3=s3, s4=s4))

Hello 1

In [39]:
print('The result is {} {}'.format(s3,s4))

The result is Hello 1

* Compare whether i1 and i2 are equal and assign it to a variable res_e, then check the type of it.

In [ ]:
i1 = 10
i2 = 20

In [44]:
#res_e = i1 < i2
res_e = i1 == i2
# Feel free to try other operations

In [45]:
print(res_e)

False

In [ ]:
type(res_e)

## Formatting Strings

Let us understand how we can define strings in Python.
* We can either use double quotes or single quotes.
* We can enclose strings with quotes with triple single/double quotes
* We can have variables in strings which can be replaced using formatting.

In [ ]:
print('Hello World')

In [ ]:
print("Hello World")

In [ ]:
print("Hello World from 'itversity'")

In [ ]:
print('Hello World from "itversity"')

In [46]:
print("""Hello World from 'itversity'""")

Hello World from 'itversity'

In [47]:
print("""Hello World from "itversity" """)

Hello World from "itversity"

In [48]:
var1 = 'World'
var2 = 'itversity'
print(f'Hello {var1} from {var2}')

Hello World from itversity

In [ ]:
print(f'Hello {var1} from {var2}'.format(var1='world', var2='itversity'))

In [53]:
i1=20
i2='hello'
res=str(i1) < i2
#compares based on the ascii
#ascii value of parallel chars n then proceeds

i1='11'
i2='2'
res=str(i1) < i2
#compares based on the ascii
#ascii value of parallel chars n then proceeds

print(res)

True

## Conditionals
Let us go through conditionals in Python. We typically use “if else” for conditionals. Let us perform a few tasks to understand how conditionals are developed.

* Create a variable i with 5. Write a conditional to print whether i  is even or odd.

In [ ]:
#IN JAVA YOU MAY OR MAY NOT INDENT WITH A TAB
# if(i == 0) {
# dsdads
# dsdasds
#}
#IN PYTHON
# THE SPECIFICATION IS DEFINED WITH A COLON IN END e.g. if i % 2 == 0: EVEN A FUNCTION SPEC ENDS IN A COLON
# THE SCOPE IS DEFINED BY INDENTATION e.g. 
#if i % 2 == 0:
#<tab>print("even")
#IF YOU INDENT WITH <TAB> THEN FOR EACH SCOPE AND EVERY NESTED SCOPE YOU INDENT WITH TAB ONLY

In [57]:
i = 5

In [58]:
# Regular if else
if i % 2 == 0:
    print("even")
else:
    print("odd")

odd

In [59]:
# cond ? on_true : on_false in C ternary operator behave like this

In [60]:
# in python
# on_true cond else on_false

In [61]:
# Ternary Operator (one liner)
print("even") if i % 2 == 0 else print("odd")

odd

* Improvise it to check if i is 0 and print zero

In [64]:
i = 4

In [66]:
# : IS CONCLUSION OF CONDITION
if i == 0 : 
    print("zero") #IF U WANT TO PRINT ONE MORE AFTER THIS U USE SAME INDENTATION
elif i % 2 == 0 :
    print("even")
else :
    print("odd")

even

## All about for Loops

Let us perform a few tasks to understand loops.
* Go through range between 2 integers (5 and 10) and print them. We can use range function to get range between two integers.

In [ ]:
#range(5,11) #a range of numbers between 5 to 11 excluding the upper limit i.e. 11 here.
#why it is excluding the upper limit because when it comes to indexing starts with 0

In [2]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [1]:
for i in range(5, 11): print(i)
for i in range(5, 11, 1): print(i)

5
6
7
8
9
10
5
6
7
8
9
10

In [25]:
for i in range(5, 11, 2): print(i)

5
7
9

* Create a list of 7 elements and print alternate numbers starting from 1.
`[1, 6, 8, 3, 7, 2, 9]`
* In this example we are using list. It will be covered extensively at a later point in time. `list` is one of the core Python Data Structures.

In [ ]:
#l = [1, 6, 8, 3, 7, 2, 9]
#for k in range ()

In [73]:
l = [1, 6, 8, 3, 7, 2, 9]

num_pos = 0 #index
for i in l:
    if num_pos % 2 == 0: # checking if index is even or not
        print(i)
    num_pos += 1 # incrementing cnt by 1

1
8
7
9

* Go through range between 2 integers (5 and 15) and print even numbers.

In [18]:
for i in range(5, 16): 
    if i % 2 == 0:
        print(i)

6
8
10
12
14

* Iterate through a list of months and print them.

In [23]:
mnth = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]

j = 1
for m in mnth:
    print(str(j) + " " + m)
    j +=1

1 jan
2 feb
3 mar
4 apr
5 may
6 jun
7 jul
8 aug
9 sep
10 oct
11 nov
12 dec

## Running OS Commands

Let us understand how to run OS commands using Python.
* Python provides a library called as `os` which can be used to run OS commands.
* We can import and start using it.
* There are bunch of commands to create directories, change ownership, change permission, run general system commands etc.
* `os` library is extensively used to read environment variables at run time of the application. It is used to pass keys and credentials to work with databases, external applications etc.
* Typically keys and credentials should not be part of the source code.

In [4]:
import os

* Get current working directory.

In [75]:
os.getcwd()

'/Users/monikamendiratta/itversity-books/Data Engineering Bootcamp/30 Basics of Programming using Python'

* Read environment variables

In [76]:
os.environ.get('PATH')

'/Users/monikamendiratta/itversity-books/itversity-books-env/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin'

In [78]:
os.environ # RETURNS ALL THE ENVIRONMENT VARIABLES

environ{'TMPDIR': '/var/folders/bl/8yvc_qyd3qqc2991myh28k8h0000gn/T/',
        'XPC_FLAGS': '0x0',
        'TERM_PROGRAM_VERSION': '433',
        'LANG': 'en_US.UTF-8',
        'TERM_PROGRAM': 'Apple_Terminal',
        'XPC_SERVICE_NAME': '0',
        'TERM_SESSION_ID': '4FF97749-FDF9-4758-A3F7-99462E53CACE',
        'TERM': 'xterm-color',
        'SSH_AUTH_SOCK': '/private/tmp/com.apple.launchd.bhFUXr2SH5/Listeners',
        'SHELL': '/bin/zsh',
        'HOME': '/Users/monikamendiratta',
        'LOGNAME': 'monikamendiratta',
        'USER': 'monikamendiratta',
        'PATH': '/Users/monikamendiratta/itversity-books/itversity-books-env/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin',
        'SHLVL': '1',
        'PWD': '/Users/monikamendiratta/itversity-books',
        'OLDPWD': '/Users/monikamendiratta/itversity-books/itversity-books-env',
        'VIRTUAL_ENV': '/Users/monikamendiratta/itversity-books/itversity-books-env',
        'PS1': '(itversity-books-env) %n@%m %1~ %# ',
        '_': '/Users/monikamendiratta/itversity-books/itversity-books-env/bin/jupyter',
        '__CF_USER_TEXT_ENCODING': '0x1F5:0x0:0x0',
        '__PYVENV_LAUNCHER__': '/Users/monikamendiratta/itversity-books/itversity-books-env/bin/python3',
        'KERNEL_LAUNCH_TIMEOUT': '40',
        'JPY_PARENT_PID': '52392',
        'CLICOLOR': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://ipykernel.pylab.backend_inline'}

In [77]:
os.environ.get('HOME')

'/Users/monikamendiratta'

## Exercises

Please take care of following exercises.

* Get sum of integers for a given range.

In [82]:
#user input range
beg :int = 1
end :int = 8

In [83]:
y :int = 0

for x in range (beg,(end+1)):
    #find sum
    y += x
print(y)

36

* Get sum of integers for a given range. using formula n(n+1)/2

* Get sum of squares of integers for a given range.

In [84]:
sq :int = 0
for i in range (beg,(end+1)):
     #find sum of squares of integers
    sq += i * i
print(sq)

204

* Get sum of even numbers for a given range

In [85]:
esum :int = 0
for e in range (beg,(end+1)):
    if e % 2 == 0:
        #print(e)
        esum += e
print(esum)

20

In [ ]:
#COMPLEXITIES
# o(n), o(1), o(log n), o(e**n)
# o(1) -> no matter how much data u need to process o(1) it means constant
# o(n) -> it is linear progresses linearly
# o(log n) -> it is somewhere between 1 to n
# o(e**n) -> somewhere between n to infinity

* Create a collection using `[1, 6, 8, 3, 7, 2, 9]` and get sum of even numbers. Answer should be 16.

In [75]:
cl = [1, 6, 8, 3, 7, 2, 9]

In [76]:
esum :int = 0
for i in cl:
    if i % 2 == 0:
        esum += i
print(esum)

16

* Using the same collection get sum of numbers divisible by 3. Answer should be 18.

In [77]:
div3 :int = 0
for i in cl:
    if i % 3 == 0:
        div3 += i
print(div3)

18